body{
        background-color: skyblue;
}


.box1{
    border: 1px solid black;
    background-color: black;
    height: 30px;
}

ul{
    float: left;
    color: white;
}

ul li{
    margin-top: -10px;
    float: left;
    position: relative;
    left: 300%;
    width: 100px;
    font-size: 14px;
    font-family: barlow condensed, sans-serif;
    list-style-type: none;
}

ul li a{
    text-decoration: none;
    color: white;
}

h5{
    margin-top: 1px;
    color: white;
    margin: 7px 12px;
    position: relative;
    left: -18;
    font-family: barlow condensed, sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: normal;
}

.subbox{
    border: 1px solid transparent;
    background-color: whitesmoke;
    height: 50px;
}

ol{
    float: left;
}

ol li{
    float: left;
    width: 90px;
    position: relative;
    left: 55%;
    list-style-type: none;
    font-family: sans-serif;
    font-size: 18px;
}

ol li a{
    text-decoration: none;
    color: black;
}

ol li a:hover{
    border-bottom: 4px solid red;
}

.fa-search{
    position: absolute;
    left: 82%;
    top: 9%;
    color: black;
}

.fa-user{
    position: absolute;
    left: 85%;
    top: 9%;
    color: black;
}

h2{
    position: relative;
    left: -58.2%;
    text-transform: uppercase;
    font-family: sans-serif;
    margin-top: 6px;
    font-weight: bolder;
}

font{
    color: rgb(235, 97, 97);
}

.cover{
    background-color: skyblue;
}

.cover img{
    background-size: cover;
    height: auto;
    width: auto;
}

.text{
    position: absolute;
    top: 30%;
    left: 7%;
}

h1{
    font-size: 70px;
    font-family: sans-serif;
    text-transform: capitalize;
    width: 460px;
    word-spacing: 0px;
    font-weight: normal;
    line-height: 72px;
}

h4{
    position: absolute;
    top: -4%;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: normal;
    text-transform: uppercase;
}

form input[type="submit"]{
    position: absolute;
    top: 86%;
    padding: 10px;
    text-transform: uppercase;
    background-color: crimson;
    border: none;
    color: white;
    font-family: sans-serif;
    letter-spacing: 1px;
}

form input[type="submit"]:hover{
    background-color: red;
}

.image1{
    position: absolute;
    left: 5%;
    top: 100%;
    border: 1px solid darkgrey;
    box-shadow: 1px 2px 4px;
}

h6{
    color: black;
    position: absolute;
    left: 20%;
    top: 25%;
    border: 1px solid whitesmoke;
    width: 200px;
    font-size: 40px;
    font-family: sans-serif;
    background-color: white;
    font-weight: normal;
    text-align: center;
}

.image1:hover{
    box-shadow: 1px 3px 9px;
}

.image2{
    position: absolute;
    left: 40%;
    top: 100%;
    border: 1px solid darkgrey;
    box-shadow: 1px 2px 4px;
}

.image2:hover{
    box-shadow: 1px 3px 9px;
}

h{
    color: black;
    position: absolute;
    left: 20%;
    top: 55%;
    border: 1px solid whitesmoke;
    width: 200px;
    font-size: 40px;
    font-family: sans-serif;
    background-color: white;
    font-weight: normal;
    text-align: center;   
}

.image3{
    position: absolute;
    left: 73%;
    top: 100%;
    border: 1px solid darkgrey;
    box-shadow: 1px 2px 4px;   
}

.image3:hover{
    box-shadow: 1px 3px 9px;   
}

t{
    color: black;
    position: absolute;
    left: 20%;
    top: 55%;
    border: 1px solid whitesmoke;
    width: 200px;
    font-size: 40px;
    font-family: sans-serif;
    background-color: white;
    font-weight: normal;
    text-align: center; 
}
